@font-face { font-family: Times New Roman} 

* {
    font-family: 'Times New Roman', serif;
    font-size: 15pt;
    overflow-x: hidden;
}

.mono {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url('img/1f972.png');
    background-size: 30%;
    background-opacity: 0.1
} 