@font-face { font-family: Purisa; src: url('../Purisa.ttf'); } 

* {
    font-family: 'Times New Roman';
    font-size: 15pt;
}

.mono {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url('img/chungus.png');
    background-size: 20%;
} 