@font-face { font-family: Times New Roman} 

* {
    font-family: 'Times New Roman', serif;
    font-size: 15pt;
    overflow-x: hidden;
}

.mono {
    font-family: 'Courier New', Courier, monospace;
}